* {
	box-sizing: border-box;

}

html, body {
	margin: 0;
	font-family: "Georgia";
}

header, footer {
	background-color: #FFC0CB;

}

.centered {
	padding-top: 24px;
	padding-bottom: 18px;
	width: 70%;
	margin: auto;
}

header .subtitle {


}

h1 {

}

ul {
	display: flex;
	flex-wrap: wrap;
}

ul li {
	width: 50%;
}

main {
	width: 60%;
	margin: auto;

}

section {
	
}

h2 {
	color: #FFC0CB;

}

h3 {
	width: 90%;
	margin: auto;
	color: #FFC0CB;
}

article p {
	width: 90%;
	margin: auto;

}

.details {
	color: #FFC0CB;
	width: 90%;
	margin: auto;
}

.object {

}

.object:after {
	content: " | ";
}

footer h2 {

}